.imageSli {
  width: "65%";
  height: "50vh";
  margin-top: "5vh";
  margin-bottom: "5vh";
  margin-left: "auto";
  margin-right: "auto";
}

img-comparison-slider {
  --divider-width: 3px;
  --divider-color: red;
  --default-handle-color: rgb(255, 5, 5);
}

.navBarMargin::before {
  display: block;
  content: " ";
  margin-top: -43px;
  height: 43px;
  visibility: hidden;
  pointer-events: none;
}
